//main.handlebars

   <!-- login button -  -->
   class = "landing-btn" 

   <!-- nav bar -  -->
   class = "nav-links"  

//hompage.handlebars

   <!-- div of the landing page's title and buttons -  -->
   class = "landing" 

   <!-- title -  -->
   class = "landingText title" 

   <!-- div that wraps over the sign up button -  -->
   id = "landing-btn" 

   <!-- Sign up button -  -->
   class = "button landing-btn"  
   id = "landing button" 

//login.handlebars 

    <!-- /*  login email input  */ -->
    class = "form-input" 
    id "email-login" 

   <!-- login password input -->
   class = "form-input" 
   id = "email-login"

   <!-- login button -->
   class = "btn btn-primary"

   <!-- signup name input  -->
   class = "form-input"
   id = "name-signup"

   <!-- signup email input -->
   class = "form-input"
   id = "email-signup"

   <!-- signup password input -->
   class = "form-input"
   id = "password-signup"

   <!-- signup button -->
   class = "btn btn-primary"
