<div class="main-content" >
    <div class="about-page-text">
        <h1>About Us</h1>
        <p>
        GroGroGro is the new way to create and share grocery shopping lists. Easily share a list with your family or roommates. List changes show up instantly on everyone’s devices.
        </p>
        <p>    
        Stay in sync with family and friends by sharing a list with them. Any changes made to a shared list will show up instantly to everyone sharing the list.
        <p>
        Save time & money by using our best grocery list app. No more paper lists left at home, no more forgotten items to buy or double purchases, no more annoying calls with requests to buy couple more things!
        <p/>
        <p>
        If you have a phone it is reasonable to use its power to the most and keep your shopping list there.
        <p/>
        <p>
        If you have a tablet you can benefit from the handy big screen format and handle your grocery lists the most effective way.
        <p/>
        <p>
        Keep your lists in sync with your family or friends by sharing your account. All of you can add or change items on the go from anywhere using any device.
        </p>
    </div>
</div>

