<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

<div class="main-content" >

    <p id="first-paragraph" >GroGroGro is a well organize note taking application that will be helpfull for many familly throughout the world. With GroGroGro you will be able to write your grocery list in your phone, and enjoy making multiple list. You will also have your own profile and have all your list saved and will be able to edit all your list as you are figuring out all the things you might want . </p>

    <div class="second-content">

    <p>Comming soon GroGroGro will be family friendly. imagine having the whole family being able to help make the list.</p>

    </div>
</div>
