<div class="main-content">
<div class="contact-content">
<h1 class="contact-heading">Contact Us</h1>
<h2>Half & Half Team: <a href="mailto:someone@example.com">grogrogro@gmail.com</h2>
</div>
</div>

