  <div class="contact">
 <H1>Contact us</H1>
 <div class="container">
<div class="contact-list">
    <h2>Ryan Vega</h2>
    <p><a href="mailto:someone@example.com">Ryan@gmail.com</a></p>
</div>
<div class="contact-list">
    <h2>Ricardo Flores</h2>
    <p><a href="mailto:someone@example.com">Ricardo@gmail.com</a></p>
</div>
<div class="contact-list">
    <h2>Stevenson White</h2>
    <p><a href="mailto:someone@example.com">Stevenson@gmail.com</a></p>
</div>
<div class="contact-list">
<h2>Dwayne Hovington</h2>
<p><a href="mailto:someone@example.com">Dwayne@gmail.com</a></p>
</div>
</div>
        
  </div>

