<div class="main-content">
    <div class="new-list-form">
        <div class="create-container">
    <h1>{{list.name}}</h1>
    <div class="icons">
        <i class="fas fa-save text-light save-note" id="save-Item"></i>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4 list-container">
                <ul class="list-group">
                </ul>
            </div>
        </div>
            <textarea class="grocery-textarea" placeholder=""></textarea>
        </div>
    </div>
        </div>
</div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./js/profile.js"></script>
</div>