<div class="landing">
  <div class="landingText title">
    <h1>The quick way to <span class="emphasis">create</span> and <span class="emphasis">share</span> a grocery shopping list. </h1>
    <div id="landing-btn">
    <a class="button landing-btn" href="#">Sign Up</a>
    </div>
  </div>
  </div>