<div class="main-content">
  <div class="landingText title">
    <h1>The quick way to <span> create </span> and <span> share </span> a grocery shopping list.</h1>
    <div id="landing-btn">
    <a class="button landing-btn" id="landing-btn" href="login">Sign Up</a>
    </div>
  </div>
</div>