<div class="main-content login-container">
  <div class="col-md-6 login-form-container">
    <h2 class="loginHeader login-page-text">Login</h2>
    <form class="form login-form">
      <div class="form-group ">
        <label for="email-login" class="login-page-text">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login"class="login-page-text">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn waves-effect waves-light login-page-text" type="submit">login</button>
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <h2 class="login-page-text">Sign up</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup" class="login-page-text">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup" class="login-page-text">email:</label>
        <input class="form-input" type="text" id="email-signup"/>
      </div>
      <div class="form-group">
        <label for="password-signup" class="login-page-text">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary login-page-text" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="js/login.js"></script>