:root {
  --primary-color: #3a6351;
  --accent-color: #393232;
  --button-color: #e48257;
  --text-color: #f2edd7;
}
/* Global Edits */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Oswald', serif;
}

/* Nav Bar  */
#logo {
  color: var(--text-color);
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

.nav-header {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  position: relative;
}

.nav-header li {
  display: flex;
  flex: 1 1 60rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-direction: row;
}
/* Landing */
.landing {
  min-height: 90vh;
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background: var(--primary-color);
}

.landingText h1 {
  font-family: 'Oswald', serif;
  font-size: 4rem;
  text-align: center;
}

.landing-btn {
  padding: 1rem 2rem;
  background: var(--button-color);
  border: none;
  color: var(--text-color);
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: var(--text-color);
  letter-spacing: 3px;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

#landing-btn {
  align-items: center;
}
/* Color Hierarchy in Text for Section */
.emphasis {
  color: var(--button-color);
}
