:root {
  --primary-color: #3a6351;
  --accent-color: #393232;
  --button-color: #e48257;
  --text-color: #f2edd7;
}
/* Global Edits */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color) !important;
  font-family: 'Oswald', serif;
}

/* Nav Bar  */

nav {
  width: 80%;
  margin: auto;
  min-height: 10vh;
  background-color: var(--primary-color);
  box-shadow: none;
}
#logo {
  color: var(--text-color);
  font-family: 'Oswald', sans-serif;
  font-size: 2.25rem;
}

#nav-mobile a {
  color: var(--text-color);
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
}

#login-btn {
  background-color: var(--button-color);
}

#logout-btn {
  background-color: var(--button-color);
}

.main-content {
  min-height: 90vh;
  min-width: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-family: 'Oswald', sans-serif;
}

/* Landing */
.landingText h1 {
  font-family: 'Oswald', serif;
  font-size: 4rem;
  margin: auto;
}

.landing-btn {
  padding: 0.5rem 1rem;
  background: var(--button-color);
  border: none;
  color: var(--text-color);
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: auto;
  margin-top: 3rem;
  justify-content: center;
}

#landing-btn {
  display: flex;
}

span {
  color: var(--button-color);
}

/* About Page */
.about-page-text {
  font-size: 1.5rem;
  max-width: 90vh;
}
.about-page-text h1 {
  font-size: 4rem;
  color: var(--text-color);
}
/* Contact Page */

.contact-heading {
  justify-items: center;
  text-align: center;
  font-size: 4rem;
  color: var(--text-color);
}

.contact-content {
  display: flex;
  flex-direction: column;
}

/* login page */

/* Login Page */
.login-container {
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-width: 80%;
  align-items: center;
}

.login-page-text {
  color: var(--accent-color);
  text-transform: uppercase;
  font-family: 'Oswald', serif;
}

.btn {
  background-color: var(--button-color) !important;
}

/* Profile CSS */
.listForm {
  display: block;
  font-size: 2rem;
  margin: 4rem 0;
}

.profile-name {
  display: flex;
  min-width: 80vh;
  min-height: 90vh;
}

.new-list-form {
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  text-transform: uppercase;
  color: var(--text-color);
}
