:root {
  --primary-color: #3a6351;
  --accent-color: #393232;
  --button-color: #e48257;
  --text-color: #f2edd7;
}
/* Global Edits */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-color: var(--primary-color);
  font-family: 'Oswald', serif;
  margin: 0px;
}

/* Nav Bar  */
/* #logo {
  color: var(--text-color);
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
} */

.container {
  width: 80%;
  margin: 0 auto;
}


header::after {
  content: '' ;
  display: table;
  clear: both;
}

header h1 {
  float: left;
  color: white;
}

.navbar {
  float:right;

}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li{
  display: inline-block;
  margin-left: 70px;
  padding-top: 35px;
  padding-bottom: 5px;

  position: relative;
}

.navbar a {
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
}


/* .nav-header {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  position: relative;
}

.nav-header li {
  display: flex;
  flex: 1 1 60rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-direction: row;
} */
/* Landing */
.landing {
  min-height: 70vh;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background: var(--primary-color);
}

.landingText h1 {
  font-family: 'Oswald', serif;
  font-size: 4rem;
  width: 60%;
  text-align: center;
  /* display: flex; */
  flex-direction: column;
  /* justify-items: center; */
  margin: auto;
}

.landing-btn {
  padding: 1rem 2rem;
  background: var(--button-color);
  border: none;
  color: var(--text-color);
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: var(--text-color);
  letter-spacing: 3px;
  margin: auto;
  margin-top: 3rem;
  
  justify-content: center;
}

#landing-btn {
  align-items: center;
  display: flex;
}
/* Color Hierarchy in Text for Section */
.emphasis {
  color: var(--button-color);
}
